@model System.Collections.Generic.List<TicketMasterApiApp.Models.Event>
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: hsl(226, 21%, 14%);
        color: azure;
    }

    .event-enter{
        background-color: white;
        color: black;
    }

    form > #Price{
        color: black;
    }
    #PriceForm{
        text-align:center;
    }
    
</style>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<h2>Index</h2>
<h3>@ViewBag.PriceSearch</h3>

<form id="PriceForm" action="../UserEvent/GetEventByPrice" method="post">
    <label for="Price">Enter desired price: </label>
    <input id="Price" type="number" name="price" min="0.0000" placeholder="Enter Price" />
    <input type="submit"  value="Search-By-Price" class="btn-success" />
</form>

@foreach (TicketMasterApiApp.Models.Event e in @Model)
{
<div class="col-md-12 col-xs-12 event-div">
    <h3>
        <img id="@e.Id" src="https://image.flaticon.com/icons/svg/149/149220.svg" style="width:25px; height:25px;" />
        @e.Name
    </h3>
    <p>@e.Type</p>
    <p>@e.Status</p>
    <p>@e.SaleStarts - @e.SaleEnds</p>
    <p><a href="../UserEvent/EventById?id=@e.Id">more info</a><p>
</div>
}

<script>
    $(document).ready(function () {

        $('img').hover(function () {
            if (!$(this).hasClass('selectedImg')) {
                this.src = 'https://image.flaticon.com/icons/svg/143/143515.svg';
                
            }
        });

        $('img').mouseout(function () {
                if (!$(this).hasClass('selectedImg')) {
                    this.src = 'https://image.flaticon.com/icons/svg/149/149220.svg';
                }
            });

        $('img').click(function () {

            if ($(this).hasClass('selectedImg')) {
                $(this).removeClass('selectedImg');
                this.src = 'https://image.flaticon.com/icons/svg/149/149220.svg';
                DeleteFav(this.id);
            }
            else {
                $(this).addClass('selectedImg');
                this.src = 'https://image.flaticon.com/icons/svg/143/143515.svg';
                AddFav(this.id);
            }
        });

        $('.event-div').mouseenter(function () {
            $(this).addClass('event-enter');
        });
        $('.event-div').mouseleave(function () {
            $(this).removeClass('event-enter');
        });

        function DeleteFav(id) {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '../UserEvent/DeleteFavorite',
                data: "{'id':'" + id + "'}",
                async: false,
                success: function (response) {
                    alert(response);
                },
                error: function () {
                    console.log('there is some error');
                }
            });
        }

        function AddFav(id) {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '../UserEvent/AddToFavorite',
                data: "{'id':'" + id + "'}",
                async: false,
                success: function (response) {
                    alert(response);
                },
                error: function () {
                    console.log('there is some error');
                }
            });
        }

    });
</script>